<h1>Checkout Cart</h1>
<% @carted_shoes.each do |carted| %>
  <h2>Shoe: <%= carted.shoe.name %> - Quantity: <%= carted.quantity %> - <%= link_to "remove", "/carted_shoes/#{carted.id}", method: :delete %></h2>
<% end %>

<%= link_to "Buy Now", "/orders", method: :post, class: "btn btn-primary" %>

