div.headers {
  text-align: center;
}

body {
  background-image: url('light_grey.png')
}

.product-index-single {
  height: 600px;
}

.well img {
    width: 100%;
}


// img {
//     display: block;
//     margin: auto;
//     width: 50%;
// }