<h1>New Shoe</h1>

<%= form_tag "/shoes", method: :post do %>
    <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Color: <input type="text" name="color">
  </div>
  <div>
    Image: <input type="text" name="image">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <input type="submit" name="Add Shoe">
<% end %>